<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p class="mb-1"><strong>Correo Electrónico:</strong> tu_correo@example.com</p>
        <p class="mb-1"><strong>Nombre:</strong> Carlos Bustamante</p>
        <p class="mb-1"><strong>Curso:</strong> Desarrollo Web</p>
        <p class="mb-1"><strong>Materia:</strong> Informática Avanzada</p>
        <p class="mb-0"><strong>Profesor:</strong> Martín Salas</p>
        <p>&copy; Modulo 3 - EJS Layout P1 - by Nodo Tecnológico - 2024</p>
    </div>
</footer>