
<section>
    <h1> Acerca de Nosotros</h1>
    <p>
        Somos un equipo interdiciplinario de docentes altamente capacitados, con muchos años de experencia.
        decididos en sacar a relucir el potencial de cada uno de nuestros alumnos, a base de practicas guiadas.
    </p>
</section>