<section>
    <h1 class="text-bg-primary p-3 border border-primary">
        Bienvenido a nuestro sitio Web
    </h1>
    <P>
        Este es un ejemplo de ccomo usar layouts en EJS con <strong>express-ejs-layouts</strong>.
    </P>
</section>